@ -62,14 +62,12 @@ p {
    cursor: pointer;
    padding: 1px;
    background-color: #3f6304; /* Dark green for inactive tabs matching the header */
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #3f6304; /* Dark green background for inactive tabs */
    color: #d0d9aa; /* Match the font color to the header text */
    transition: background-color 0.3s; /* Smooth transition for hover effects */
@ -83,13 +81,11 @@ p {
.tab.active {
    background-color: #d0d9aa; /* Active tab color */
    color: #3f6304; /* Active tab text color */
}

/* Style for tab content */
.tab-content {
    padding: 20px;
    background-color: white; /* Background for tab content */
}

