body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: #445302;
}

header {
    font-family: 'Garamond', Garamond, serif;
    background-color: #3f6304; /* Dark green color */
    padding: 20px;
    text-align: center;
    color: #d0d9aa;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
    text-indent: 30px; /* Indents the first line of each paragraph */
}

/* Style for your profile picture */
.profile-img {
    border-radius: 50%;
    width: 150px;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Style for the logos */
.logo-img {
    width: 100px;
    margin: 10px;
    display: inline-block;
}

/* Style for project images */
.project-img {
    width: 100%;
    max-width: 100px;
    margin: 20px 0;
    display: block;
}

/* Style for the content container */
.content-container {
    border-left: 5px solid #ccc;  /* Left border */
    border-right: 5px solid #ccc; /* Right border */
    padding: 20px;                /* Add some padding inside */
    margin: 20px auto;           /* Center the container with auto margins */
    max-width: 800px;            /* Optional: Limit the maximum width of the content */
}

/* Style for the tabs */
.tabs {
    display: flex;
    cursor: pointer;
    padding: 10px;
    background-color: #3f6304; /* Dark green for inactive tabs matching the header */
    border-bottom: 1px solid #ccc; /* Underline for tabs */
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc; /* Border around each tab */
    background-color: #3f6304; /* Dark green background for inactive tabs */
    color: #d0d9aa; /* Match the font color to the header text */
    transition: background-color 0.3s; /* Smooth transition for hover effects */
}

.tab:hover {
    background-color: #4CAF50; /* Change color on hover */
    color: white; /* Change text color on hover */
}

.tab.active {
    background-color: #4CAF50; /* Active tab color */
    color: white; /* Active tab text color */
    border-bottom: 1px solid white; /* Prevents double border */
}

/* Style for tab content */
.tab-content {
    padding: 20px;
    border: 1px solid #ccc; /* Border around tab content */
    background-color: white; /* Background for tab content */
}

.tab-content.active {
    display: block; /* Display active tab content */
}
